[Unit]
Description=Seafile server
Wants=network-online.target

[Service]
ExecStart={{ config.latest }}/seafile.sh start
ExecStop={{ config.latest }}/seafile.sh stop
User={{ config.user }}
Type=forking
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
