{% import_yaml 'seafile/defaults.yaml' as default_settings %}
{% import_yaml 'seafile/os_map.yaml' as os_map %}
{% import_yaml 'seafile/os_family_map.yaml' as os_family_map %}
{% set default_settings = salt['grains.filter_by'](os_family_map, grain='os_family', merge=default_settings) %}
{% set default_settings = salt['grains.filter_by'](os_map, grain='os', merge=default_settings) %}

{% set seafile = salt['pillar.get']('seafile', default=default_settings.get('seafile'), merge=True) %}
{% set server = seafile.server %}
{% set client = seafile.client %}

{% if server.flavour == 'x86-64' or server.flavour == 'i386' %}
{% set url = 'https://dl.bintray.com/seafile-org/seafile/seafile-server_' + server.version + '_' + server.flavour + '.tar.gz' %}
{% elif server.flavour == 'rpi' %}
{% set url = 'https://github.com/haiwen/seafile-rpi/releases/download/v' + server.version + '/seafile-server_' + server.version + '_stable_pi.tar.gz' %}
{% endif %}

{% set startcmd = 'start-fastcgi' if server.config.seahub_fastcgi else 'start' %}
{% set startcmd = startcmd + ' ' + server.config.seahub_port %}

{% do server.update({
  'url': server.get('url', url),
  'pid': server.dir + '/pids/seaf-server.pid',
  'source': '/tmp/seafile-server-' + server.version + '.tar.gz',
  'current_install': server.dir + '/seafile-server-' + server.version,
  'latest': server.dir + '/seafile-server-latest',
  'seahub_startcmd': startcmd,
  'seahub_settings': server.get('seahub_settings', {})
}) %}

{% if server.get('css') %}
{% do server.seahub_settings.update({
  'BRANDING_CSS': server.seahub_settings.get('BRANDING_CSS', 'custom/custom.css')
}) %}
{% endif %}

{% if server.get('logo_source') %}
{% do server.seahub_settings.update({
  'LOGO_PATH': server.seahub_settings.get('LOGO_PATH', 'custom/' + salt['cmd.run']('basename ' + server.logo_source))
}) %}
{% endif %}
